@charset "UTF-8";
* {
  font-family: 'Roboto'; }

.heading-primary {
  color: #FFFFFF;
  backface-visibility: hidden;
  margin-bottom: 1rem;
  line-height: 1.1;
  font-size: 64px;
  font-weight: 900; }
  .heading-primary--main {
    display: block; }
  .heading-primary--sub {
    font-weight: 400;
    font-size: 18px; }

.heading-secondary {
  font-size: 36px;
  line-height: 1.1;
  font-weight: 900; }

.heading-tertiary {
  font-size: 32px;
  line-height: 1.1;
  font-weight: 900; }
  .heading-tertiary--main {
    display: block; }
  .heading-tertiary--sub {
    display: block;
    font-weight: 400;
    font-size: 18px; }

.body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px; }

*,
*::after,
*::before {
  /* einfach weil einige Browser ihr Standard padding und margin hinzufügen
    */
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 2.5rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.25rem !important; }

.u-margin-top-big {
  margin-top: 2.5rem !important; }

.u-margin-top-small {
  margin-top: 1.25rem !important; }

.u-padding-bottom-big {
  padding-bottom: 2.5rem !important; }

.u-padding-bottom-small {
  padding-bottom: 1.25rem !important; }

.u-padding-top-big {
  padding-top: 2.5rem !important; }

.center {
  text-align: center; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.black {
  color: #1A1A1A; }

.item-middle {
  display: flex;
  justify-content: center;
  align-items: center; }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }

.padding-seite {
  padding-left: 24px;
  padding-right: 24px; }

.middle-items {
  display: flex;
  flex-direction: column;
  align-items: center; }

.container {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.left-item {
  order: 1; }

.right-item {
  order: 2; }

.btn, .btn:link, .btn:visited {
  padding: 15px 50px 15px 50px;
  box-sizing: border-box;
  color: #FFFFFF;
  text-decoration: none; }

.btn-black {
  border-radius: 5px;
  background-color: #1A1A1A;
  color: #FFFFFF;
  border: 3px solid #1A1A1A;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25); }

.btn-black-white {
  border-radius: 5px;
  background-color: #1A1A1A;
  color: #FFFFFF;
  border: 3px solid #FFFFFF;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25); }

.image {
  width: calc(100vw * 0.64); }
  @media (min-width: 900px) {
    .image {
      width: calc(100vw * 0.42); } }

.image-map {
  width: 100%; }

.coffee-picture {
  width: 200px;
  height: auto; }

.icon {
  width: 45px; }

input[type="text"] {
  padding: 12px;
  background-color: #E9E9E9;
  box-sizing: border-box;
  text-decoration: none;
  width: 87vw;
  outline: 0;
  border-width: 0 0 2px;
  border-color: #1A1A1A; }

input[type="mail"] {
  padding: 12px;
  background-color: #FFFFFF;
  box-sizing: border-box;
  text-decoration: none;
  width: 87vw;
  outline: 0;
  border-width: 0 0 2px;
  border-color: #1A1A1A; }

input[type="number"] {
  padding: 12px;
  background-color: pink;
  box-sizing: border-box;
  text-decoration: none;
  width: 87vw;
  outline: 0;
  border-width: 0 0 2px;
  border-color: #1A1A1A; }
  input[type="number"]::placeholder {
    color: red; }

input[type="message"] {
  padding: 12px;
  box-sizing: border-box;
  text-decoration: none;
  width: 87vw;
  height: 190px;
  outline: 0;
  border-width: 0 0 2px;
  border-color: #1A1A1A; }

/* Style the button */
.dropdown {
  width: 87vw; }

.dropdown {
  display: inline-block;
  padding: 5px 5px;
  text-align: center;
  border: none;
  cursor: pointer; }

.dropdown::before {
  content: url("img/up button white.svg");
  display: inline-block;
  margin-right: 10px; }

/* Style the dropdown content */
.dropdown-content {
  border-radius: 5px;
  border-style: solid 1px;
  color: #1A1A1A;
  display: none;
  background-color: #FFFFFF;
  min-width: 87vw;
  z-index: 1; }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: inline-block; }

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  cursor: pointer; }

input[type="checkbox"]:checked {
  background-color: #4CAF50; }

input[type="checkbox"]:checked:before {
  content: '\2714';
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 18px; }

.header {
  height: 75vh;
  width: 100%;
  background-image: url("../img/FEND-Coffee-latte-art-3.png");
  background-color: rgba(26, 26, 26, 0.3);
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .header__logo {
    width: 3.5rem;
    color: #FFFFFF; }
    .header__logo-box {
      position: absolute;
      top: 1rem;
      left: 1rem; }
  .header__menu {
    width: 3.5rem;
    color: #FFFFFF; }
    .header__menu-box {
      position: absolute;
      top: 1rem;
      right: 1rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.header-das-cafe {
  height: 50vh;
  width: 100%;
  background-image: url("../img/FEND-Coffee-shop.png");
  background-color: rgba(26, 26, 26, 0.3);
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.header-die-herkunft {
  height: 50vh;
  width: 100%;
  background-image: url("../img/FEND-Coffee-beans-hand-2.png");
  background-color: rgba(26, 26, 26, 0.3);
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.header-imprint {
  height: 10vh;
  width: 100%; }

.flex-container-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: space-between; }

.flex-left {
  display: flex;
  justify-content: flex-end; }

.flex-item {
  text-align: left;
  margin-right: 17px; }

.flex-container-coffee {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px; }

.flex-item-coffee {
  text-align: center;
  color: #fff;
  width: calc((100% - 20px)/2); }

.flex-container-icons {
  display: flex;
  justify-content: space-around; }

.flex-item-icon {
  text-align: center; }

.grid-footer-container {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px; }

.grid-footer-item {
  color: #FFFFFF; }

.footer-logo-item {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3; }

.section-roesterei {
  padding-left: 6.4%;
  padding-right: 6.4%;
  background-color: #FFFFFF;
  color: #1A1A1A; }

.section-entdecke-sorten {
  padding-left: 20px;
  padding-right: 20px;
  color: #FFFFFF;
  background-color: #1A1A1A;
  box-sizing: border-box; }
  .section-entdecke-sorten-beschreibung {
    margin: 0;
    padding: 0;
    text-align: left; }
  .section-entdecke-sorten-coffee-sorte {
    background-color: #E9E9E9;
    width: 100%; }
    .section-entdecke-sorten-coffee-sorte-icon {
      color: white;
      padding: 1px;
      width: 1rem; }
  .section-entdecke-sorten-preis {
    color: #737373; }

.section-herkunft {
  padding: 6.4%;
  height: 50vh;
  color: #FFFFFF;
  text-align: center;
  background-image: url("../img/FEND-Coffee-bags-2.png");
  background-color: rgba(26, 26, 26, 0.5);
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }
  .section-herkunft-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-das-steckt-drin {
  padding: 6.4%;
  text-align: center;
  color: #1A1A1A;
  background-color: #FFFFFF; }

.section-map {
  width: 100%; }

.footer {
  padding: 6.4%;
  background-color: #1A1A1A;
  width: 100%; }

.imprint {
  padding: 20px; }

.navi {
  background-color: #1A1A1A;
  color: #FFFFFF; }
  .navi-list {
    position: absolute;
    top: 50%;
    left: 33%;
    transform: translate(-50%, -50%);
    list-style-type: none; }

.gallery {
  padding: 20px; }
  .gallery-flexbox {
    width: 100%;
    /* height_gallery = 3 * 20px + 2x height short image + 2 * height long image */
    height: calc( 3 * 20px + 2 * calc( (100vw - 60px) / 2) * 0.9 + 2 * calc( (100vw - 60px) / 2) * 1.7);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px; }
  .gallery__short-img {
    width: calc( (100vw - 60px) / 2);
    height: calc( calc( (100vw - 60px) / 2) * 0.9); }
  .gallery__long-img {
    width: calc( (100vw - 60px) / 2);
    height: calc( calc( (100vw - 60px) / 2) * 1.7); }

.ursprung {
  padding: 20px; }

.section-shop-entdecke-sorten {
  padding-left: 20px;
  padding-right: 20px;
  color: #1A1A1A; }
  .section-shop-entdecke-sorten-beschreibung {
    margin: 0;
    padding: 0;
    text-align: left;
    color: #1A1A1A; }
  .section-shop-entdecke-sorten-coffee-sorte {
    background-color: #E9E9E9;
    width: 100%; }
    .section-shop-entdecke-sorten-coffee-sorte-icon {
      color: #1A1A1A;
      padding: 1px;
      height: 1rem;
      width: auto; }
  .section-shop-entdecke-sorten-preis {
    color: #737373; }

.produkt-detail {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #D7BE9D;
  width: 327px;
  margin: auto; }
  .produkt-detail-detail {
    width: 100%; }

.produkt {
  padding-left: 20px;
  padding-right: 20px; }
