// Farben

$color-anthrazit: #1A1A1A;
$color-white: #FFFFFF;
$color-craftpaper: #D7BE9D;
$color-petrol: #006D7E;
$color-rosa: #EDD1C9;
$color-orange: #D77C12;
$color-medium-grey: #737373;
$color-light-grey: #E9E9E9;

// Größen

//Gallery
$mobile-img-width: calc( (100vw - 60px) / 2 );
$desktop-img-width: calc( (100vw - 100px) / 4 );


