input[type="text"] {
    padding: 12px;
    background-color: $color-light-grey;
    box-sizing: border-box;
    text-decoration: none;
    width: 87vw;
    outline: 0;
    border-width: 0 0 2px;
    border-color: $color-anthrazit
  }


  input[type="mail"] {
    padding: 12px;
    background-color: $color-white;
    box-sizing: border-box;
    text-decoration: none;
    width: 87vw;
    outline: 0;
    border-width: 0 0 2px;
    border-color: $color-anthrazit
  }

  input[type="number"] {
    padding: 12px;
    background-color: pink;
    box-sizing: border-box;
    text-decoration: none;
    width: 87vw;
    outline: 0;
    border-width: 0 0 2px;
    border-color: $color-anthrazit;

    &::placeholder {
      color: red;
    }
  }


  input[type="message"] {
    padding: 12px;
    box-sizing: border-box;
    text-decoration: none;
    width: 87vw;
    height: 190px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: $color-anthrazit
  }

    
    ul {
    list-style: none;
    background: #333;
    text-align: center;
    width: 85%; 
    margin: auto;
    }
    
    ul li {
    display: inline-block;
    position: relative;
    width: 100%;
    }
    
    ul li a {
    display: block;
    padding: 20px 25px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    }
    
    ul li ul.dropdown li {
    display: block;
    background: #333;
    margin: 2px 0px;
    }

    ul li 
    ul.dropdown {
    background: #00FF8C;
    position: absolute;
    z-index: 999;
    display: none;
    }

    ul li a:hover {
    background: #222;
    }

    .b:hover .dropdown{
    display: block;
    }








