.image {
    width: $mobile-img-width;
    @media (min-width: 900px) {
        width: $desktop-img-width;
      }
    

}

// direkt die Image, no div
.image-map {
    width: 100%;

}

.coffee-picture {
    width: 200px;
    height: auto;
    
}

.icon {
    width: 45px;
}


