.navi {
    background-color: $color-anthrazit;
    color: $color-white;

    &-list {
        position: absolute;
        top: 50%;
        left: 33%;
        transform: translate(-50%, -50%);
        list-style-type: none;
    }
}

