.produkt-detail {
    padding-left: 20px;
    padding-right: 20px;
    background-color: $color-craftpaper;
    width: 327px;
    margin: auto;

    &-bild {
        width: 100%;
        
    }
}

.warenkorb-bild {
    padding-left: 20px;
    padding-right: 20px;
    background-color: $color-craftpaper;
    width: 140px;
    padding: 10px;
}

.produkt {
    padding-left: 20px;
    padding-right: 20px;
}

.bestell-uebersicht {
    background-color: $color-anthrazit;
    color: $color-white;
    padding-left: 10px;
    padding-right: 10px;
}
